@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Winky Sans", sans-serif;
}
main {
  background-color: rgb(54, 96, 123);
  color: white;
  min-height: 100vh;
  padding-bottom: 5%;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-wrapper {
  width: 90%;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttons-cont {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-buttons {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  padding: 10px;
  color: white;
  height: 5vh;
}
.header-buttons:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.timer-wrapper {
  background-color: rgba(255, 255, 255, 0.09);
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  border-radius: 5px;
  height: 30vh;
}
.timer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 50%;
  gap: 10%;
}
button {
  font-family: "Winky Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease all;
}
.timer-buttons {
  border: none;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
}
.timer-buttons:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.workingBtn {
  background-color: rgba(255, 255, 255, 0.3);
}
.timer-result,
.timer-bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-result p {
  margin: 5%;
  font-size: 6rem;
}
.timer-bottom-buttons {
  gap: 10%;
  margin-top: 10%;
}

.start-button {
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  background-color: white;
  width: 60%;
  height: 100%;
}
.start-button:hover,
.skip-button:hover {
  transform: scale(1.05);
}
.start-button:active,
.skip-button:active {
  transform: scale(0.95);
}
.skip-button {
  border: none;
  background-color: rgb(255, 255, 255, 0);
}
.to-do-wrapper {
  width: 90%;
  font-size: 0.7rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.to-do-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.to-do-button {
  width: 90%;
  border-radius: 5px;
  border: dashed 3px;
  background-color: rgb(255, 255, 255, 0.2);
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.5);
}
.to-do-button:hover {
  background-color: rgb(255, 255, 255, 0.3);
  transform: scale(1.02);
}
#ulList {
  list-style-type: none;
  width: 90%;
  padding: 0;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ulList li {
  max-width: 90%;
  width: 90%;
  background-color: rgb(208, 226, 227);
  padding: 10px;
  border-bottom: 1px solid #284e255c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.liColorChange {
  background-color: rgb(204, 204, 103) !important;
}
.marked {
  text-decoration: line-through;
  color: grey;
}
#ulList li:hover {
  transform: scale(1.01);
}
.textDiv {
  word-wrap: break-word;
  width: 85%;
}
#add-to-do-task {
  background-color: rgb(208, 226, 227);
  width: 90%;
  max-width: 90%;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  margin-top: 2%;
}
.settings {
  position: absolute;
  width: 80%;
  height: 50%;
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  top: -50%;
  left: 0;
  right: 0;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: none;
  animation: smooth-appear 0.5s ease forwards;
  font-size: 1.1rem;
  z-index: 1;
}
@keyframes smooth-appear {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

.settings-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-top button {
  position: absolute;
  right: 10px;
}
/* From Uiverse.io by javierBarroso */
.button {
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  background: rgba(180, 83, 107, 0.7);
  border-radius: 5px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.button:hover {
  background-color: rgb(211, 21, 21);
}

.button:active {
  background-color: rgb(130, 0, 0);
}

.button:hover > .close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}
.pomodoro-timer-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pomodoro-timer-settings input {
  width: 50%;
}
.settings-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-cont {
  bottom: 5%;
  position: absolute;
  right: 5%;
}

#confirm-settings-btn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #29a880;
  color: white;
  border-radius: 5px;
}
#confirm-settings-btn:hover {
  background-color: hsl(161, 61%, 31%);
}
#add-to-do-task button {
  height: 50%;
  border-radius: 5px;
  border: none;
  width: 20%;
  background-color: rgb(44, 161, 83);
  color: white;
}
#add-to-do-task input {
  height: 40%;
  font-size: 1rem;
  width: 60%;
  border-radius: 5px;
}
.select-sound-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5%;
  margin-top: 5%;
}
select {
  width: 40%;
  padding: 10px 0;
  border: none;
  background-color: #696969;
  color: white;
  border-radius: 5px;
  text-align: center;
}
/* From Uiverse.io by bociKond */
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #0b6e4f;
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #7684ea;
  border-radius: 50%;
  transition: 300ms;
}
.container {
  width: 10%;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.55em;
  top: 0.35em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0b6e4f90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0b6e4f60;
  }

  100% {
    box-shadow: 0 0 0 13px #0b6e4f30;
    rotate: 0;
  }
}
/* From Uiverse.io by vinodjangid07 */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.btnsDiv {
  display: flex;
  gap: 4%;
  align-items: center;
}
@keyframes remove {
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}
.remove-animation {
  animation: remove 0.5s forwards;
}
hr {
  width: 90%;
  border-radius: 3px;
  color: white;
  border-color: white;
  border: 2px solid;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pomodoro-desc,
.how-to,
.features,
.end-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.pomodoro-desc p,
.how-to li,
.features li {
  font-size: 1.2rem;
}
.pomodoro-desc,
.end-msg {
  padding-left: 2%;
  width: 80%;
}
.link {
  font-weight: 600;
  color: green;
}
footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  background-color: rgb(84, 84, 84);
  color: white;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.footer-element {
  transition: all 0.4s ease;
}
.footer-element:hover {
  transform: scale(1.2);
}
@media (min-width: 1200px) {
  .timer-wrapper {
    width: 40%;
  }
  .timer-result,
  .timer-bottom-buttons {
    margin-top: 5%;
  }
  .header-buttons {
    width: 20%;
  }
}
@media (max-width: 400px) {
  .timer-result {
    font-size: 4rem;
  }
}
@media (min-width: 800px) {
  .settings {
    width: 35%;
  }
}
