@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Winky Sans", sans-serif;
}
main {
  background-color: rgb(54, 96, 123);
  color: white;
  min-height: 100vh;
  padding-bottom: 5%;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-wrapper {
  width: 90%;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttons-cont {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-buttons {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
  padding: 10px;
  height: 5vh;
}
.header-buttons:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.timer-wrapper {
  background-color: rgba(255, 255, 255, 0.09);
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  border-radius: 5px;
}
.timer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 50%;
  gap: 10%;
}
button {
  font-family: "Winky Sans", sans-serif;
  cursor: pointer;
  transition: 0.2s ease all;
}
.timer-buttons {
  border: none;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
}
.timer-buttons:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.workingBtn {
  background-color: rgba(255, 255, 255, 0.3);
}
.timer-result,
.timer-bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.timer-result p {
  margin: 0;
}
.timer-bottom-buttons {
  gap: 10%;
}

.start-button {
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  background-color: white;
  width: 60%;
  height: 100%;
}
.start-button:hover,
.skip-button:hover {
  transform: scale(1.05);
}
.start-button:active,
.skip-button:active {
  transform: scale(0.95);
}
.skip-button {
  border: none;
  background-color: rgb(255, 255, 255, 0);
}
.to-do-wrapper {
  width: 90%;
  font-size: 0.7rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.to-do-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.to-do-button {
  width: 90%;
  border-radius: 5px;
  border: dashed 3px;
  background-color: rgb(255, 255, 255, 0.2);
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.5);
}
.to-do-button:hover {
  background-color: rgb(255, 255, 255, 0.3);
  transform: scale(1.02);
}
#ulList {
  list-style-type: none;
  width: 90%;
  padding: 0;
  margin: 0;
}

#ulList li {
  max-width: 90%;
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid #284e255c;
}

#add-to-do-task {
  background-color: white;
  width: 90%;
  max-width: 90%;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
#add-to-do-task button {
  height: 50%;
  border-radius: 5px;
  border: none;
  width: 20%;
  background-color: rgb(44, 161, 83);
  color: white;
}
#add-to-do-task input {
  height: 50%;
  font-size: 1rem;
  width: 50%;
  border-radius: 5px;
}
hr {
  width: 90%;
  border-radius: 3px;
  color: white;
  border-color: white;
  border: 2px solid;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pomodoro-desc,
.how-to,
.features,
.end-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.pomodoro-desc p,
.how-to li,
.features li {
  font-size: 1.2rem;
}
.pomodoro-desc,
.end-msg {
  padding-left: 2%;
  width: 80%;
}
.link {
  font-weight: 600;
  color: green;
}
footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  background-color: rgb(84, 84, 84);
  color: white;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.footer-element {
  transition: all 0.4s ease;
}
.footer-element:hover {
  transform: scale(1.2);
}
@media (min-width: 1200px) {
  .timer-wrapper {
    width: 40%;
    height: 30vh;
  }
  .timer-result,
  .timer-bottom-buttons {
    margin-top: 5%;
  }
  .header-buttons {
    width: 20%;
  }
}
@media (max-width: 400px) {
  .timer-result {
    font-size: 3rem;
  }
}
